In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [5]:
data = [("Alice", 30, "HR"), ("Bob", 40, "Engineering"), ("Catherine", 25, "Marketing"), ("David", 35, "Finance")]
df = spark.createDataFrame(data, ["Name", "Age", "Department"])
df.createOrReplaceTempView("employees")
result = spark.sql("SELECT * FROM employees")
result.show()

+---------+---+-----------+
|     Name|Age| Department|
+---------+---+-----------+
|    Alice| 30|         HR|
|      Bob| 40|Engineering|
|Catherine| 25|  Marketing|
|    David| 35|    Finance|
+---------+---+-----------+

In [6]:
result = spark.sql("Select * from employees where Age > 30")
result.show()

+-----+---+-----------+
| Name|Age| Department|
+-----+---+-----------+
|  Bob| 40|Engineering|
|David| 35|    Finance|
+-----+---+-----------+

In [7]:
spark = SparkSession.builder \
    .appName("SQLServerConnection") \
    .config("spark.driver.extraClassPath", "C:/HADOOP_HOME/bin/jars/mssql-jdbc-12.8.1.jre11.jar") \
    .getOrCreate()

In [8]:
print(spark.sparkContext.getConf().get("spark.driver.extraClassPath"))

C:/HADOOP_HOME/bin/jars/mssql-jdbc-12.8.1.jre11.jar

In [10]:
from db_config import DATABASE_CONFIG
spark = SparkSession.builder \
    .appName("SQLServerConnection") \
    .config("spark.driver.extraClassPath", DATABASE_CONFIG["jar_path"]) \
    .getOrCreate()

In [13]:
df = spark.read.jdbc(url=DATABASE_CONFIG["url"], table="employees", properties= {"user": DATABASE_CONFIG["user"], "password": DATABASE_CONFIG["password"], "driver": DATABASE_CONFIG["driver"]})
df.show()

+-----+---+----------+
| Name|Age|Department|
+-----+---+----------+
|Rahul| 30|        HR|
|Alice| 35| Marketing|
+-----+---+----------+

In [14]:
df.createOrReplaceTempView("employees")
result = spark.sql("SELECT * FROM employees")
result.show()

+-----+---+----------+
| Name|Age|Department|
+-----+---+----------+
|Rahul| 30|        HR|
|Alice| 35| Marketing|
+-----+---+----------+

In [15]:
result = spark.sql("Select * from employees where Age > 30")
result.show()

+-----+---+----------+
| Name|Age|Department|
+-----+---+----------+
|Alice| 35| Marketing|
+-----+---+----------+