### Create a dataframe in Pyspark for below table and show the result.

team	points	marks
a	      1	     10
b	      2	     5
c	      2	     5
a	      1	     10

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Interview").getOrCreate()
column = ["team",	"points",	"marks"]
data = [("a", 1, 10),("a", 2, 5),("c", 2, 5),("a", 1, 10)]
df = spark.createDataFrame(data,column)
df.show()

+----+------+-----+
|team|points|marks|
+----+------+-----+
|   a|     1|   10|
|   a|     2|    5|
|   c|     2|    5|
|   a|     1|   10|
+----+------+-----+

In [0]:
df = df.dropDuplicates(subset=None)
df.show()

+----+------+-----+
|team|points|marks|
+----+------+-----+
|   a|     1|   10|
|   a|     2|    5|
|   c|     2|    5|
+----+------+-----+

In [0]:
df.show()

+----+------+-----+
|team|points|marks|
+----+------+-----+
|   a|     1|   10|
|   a|     2|    5|
|   c|     2|    5|
|   a|     1|   10|
+----+------+-----+

In [0]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("UnionOrJoinExample").getOrCreate()

# Create df1
data1 = [(1, "akash", 25), (2, "saurabh", 29)]
columns1 = ["empid", "name", "age"]
df1 = spark.createDataFrame(data1, columns1)

# Create df2
data2 = [(3, "raju", 25, 59), (2, "saurabh", 29, 72)]
columns2 = ["empid", "name", "age", "weight"]
df2 = spark.createDataFrame(data2, columns2)

# Show the DataFrames
print("df1:")
df1.show()

print("df2:")
df2.show()

df1:
+-----+-------+---+
|empid|   name|age|
+-----+-------+---+
|    1|  akash| 25|
|    2|saurabh| 29|
+-----+-------+---+

df2:
+-----+-------+---+------+
|empid|   name|age|weight|
+-----+-------+---+------+
|    3|   raju| 25|    59|
|    2|saurabh| 29|    72|
+-----+-------+---+------+

In [0]:
# Perform a full outer join on empid
df_joined = df1.join(df2, on="empid", how="full")

# Show the joined DataFrame
print("Joined DataFrame:")
df_joined.show()

Joined DataFrame:
+-----+-------+----+-------+----+------+
|empid|   name| age|   name| age|weight|
+-----+-------+----+-------+----+------+
|    1|  akash|  25|   NULL|NULL|  NULL|
|    2|saurabh|  29|saurabh|  29|    72|
|    3|   NULL|NULL|   raju|  25|    59|
+-----+-------+----+-------+----+------+

In [0]:
from pyspark.sql.functions import coalesce

# Select and rename columns
df_out = df_joined.select(
    "empid",
    coalesce(df1["name"], df2["name"]).alias("name"),
    coalesce(df1["age"], df2["age"]).alias("age"),
    "weight"
)

# Show the final DataFrame
print("Final Output DataFrame (df_out):")
df_out.show()

Final Output DataFrame (df_out):
+-----+-------+---+------+
|empid|   name|age|weight|
+-----+-------+---+------+
|    1|  akash| 25|  NULL|
|    2|saurabh| 29|    72|
|    3|   raju| 25|    59|
+-----+-------+---+------+