In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [2]:
data = [("Alice", 30, "HR"), ("Bob", 40, "Engineering"), ("Catherine", 25, "Marketing"), ("David", 35, "Finance")]

In [3]:
df = spark.createDataFrame(data, ["Name", "Age", "Department"])
df.show()

+---------+---+-----------+
|     Name|Age| Department|
+---------+---+-----------+
|    Alice| 30|         HR|
|      Bob| 40|Engineering|
|Catherine| 25|  Marketing|
|    David| 35|    Finance|
+---------+---+-----------+

In [4]:
df.createOrReplaceTempView("employees")
result = spark.sql("SELECT * FROM employees")
result.show()

+---------+---+-----------+
|     Name|Age| Department|
+---------+---+-----------+
|    Alice| 30|         HR|
|      Bob| 40|Engineering|
|Catherine| 25|  Marketing|
|    David| 35|    Finance|
+---------+---+-----------+

In [5]:
result = spark.sql("Select * from employees where Age > 30")
result.show()

+-----+---+-----------+
| Name|Age| Department|
+-----+---+-----------+
|  Bob| 40|Engineering|
|David| 35|    Finance|
+-----+---+-----------+